.products{
    padding:80px 70px;
    background:#ffffff;
    text-align:center;
}

.products h2{
    font-size:42px;
    color:#333;
    margin-bottom:10px;
}

.subtitle{
    font-size:20px;
    color:#777;
    margin-bottom:50px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
}

.product-card{
    background:#fffdf8;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 30px rgba(0,0,0,.15);
}

.product-card img{
    width:220px;
    height:auto;
    margin-bottom:20px;
}
.product-card h5{
    color:#666;
    font-size:15px;
    font-weight:600;
    letter-spacing:2px;
    text-transform:uppercase;
    margin-bottom:8px;
}
.product-card h3{
    color:#d97706;
    margin-bottom:8px;
}

.product-card h4{
    color:#333;
    margin-bottom:10px;
}

.size{
    font-weight:bold;
    margin-bottom:15px;
}

.product-card p{
    color:#666;
    line-height:1.6;
}

.product-card button{
    margin-top:20px;
    background:#d97706;
    color:white;
    border:none;
    padding:14px 28px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.product-card button:hover{
    background:#b45309;
    transform:translateY(-3px);
    box-shadow:0 8px 18px rgba(180,83,9,0.3);

}
/* Mobile Responsive */

@media (max-width: 768px) {

    .products{
        padding:60px 20px;
    }

    .products h2{
        font-size:34px;
    }

    .subtitle{
        font-size:18px;
        margin-bottom:35px;
    }

    .product-grid{
        grid-template-columns:1fr;
        gap:30px;
    }

    .product-card{
        padding:25px 20px;
    }

    .product-card img{
        width:180px;
    }

    .product-card h5{
        font-size:13px;
    }

    .product-card h3{
        font-size:24px;
    }

    .product-card h4{
        font-size:20px;
    }

    .size{
        font-size:16px;
    }

    .product-card p{
        font-size:16px;
    }

    .product-card button{
        width:100%;
        padding:14px;
        font-size:16px;
    }

}
