.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);

    display:flex;
    justify-content:center;
    align-items:center;
}

.modal{

    width:450px;

    background:white;

    padding:30px;

    border-radius:15px;

    display:flex;

    flex-direction:column;

    gap:15px;
}

.modal h2{

    color:#d97706;

}

.modal input,
.modal textarea{

    padding:12px;

    border:1px solid #ddd;

    border-radius:8px;

    font-size:15px;

}

.modal button{

    background:#d97706;

    color:white;

    border:none;

    padding:14px;

    border-radius:8px;

    cursor:pointer;

}
